doctype html
html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  body
    div.container
      div.jumbotron
        h1 Welcome FHIR Util
  body
    div.container
         button.btn.btn-default(href= "/fhir-util/test") Test 1