html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    style.
      .verticalhorizontal {   
        position: fixed;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
      }
      .topcorner{
        position:relative;
        margin-left: 90%;
        margin-top: 5%;
      }
      .bottomright{
        position:relative;
        margin-left: 70%;
        margin-top: 40%;
      }
      .part1 {
        width:50%;
        height: 50%;
        float: left;
        background: white;
        background-image: url('images/dashboard2.png');
        background-repeat: no-repeat;
      }
      .part2 {
        width:50%;
        height: 50%;
        float: left;
        background: white;
        background-image: url('images/History.png');
        background-repeat: no-repeat;

      }
      .part3 {
        width:50%;
        height: 50%;
        float: left;
        background: white;
      }
      .part4 {
        width:50%;
        height: 50%;
        float: right;
        background: white;
      }


  body
    div.container-fluid
      <!--div.jumbotron-->
        <!--h1 Welcome to the IHR Prototype App!-->
        div.verticalhorizontal
          <img src="images/ihranywhere.png" alt="app logo" width="190" height="200">

        if user
          p Welcome, #{user.displayName}
          p
          div.part1
            a.small(href="dashboard") View Dashboard
          p
          div.part2
            a.big(href="history") View History
          p
          div.part3
            a.big(href="UserDataEntry") Add A Resource
          p
          div.bottomright
            form(action='/logout', method='POST' )
              button.btn.btn-default(type="submit" ) Logout
        else
          <!--p Welcome to my app, ready to get started?-->
          div.topcorner  
            a.btn.btn-light(href="/login" border-color="blue") Login now