html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    style.
      .verticalhorizontal {   
        position: fixed;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
      }
      .topcorner{
        position:relative;
        margin-left: 90%;
        margin-top: 5%;
      }
      .bottomright{
        position:relative;
        margin-left: 70%;
        margin-top: 40%;
      }
      .part1 {
        width:50%;
        height: 50%;
        float: left;
        background: white;
        background-image: url('images/dashboard2.png');
        background-repeat: no-repeat;
      }
      .part2 {
        width:50%;
        height: 50%;
        float: left;
        background: white;
        background-image: url('images/History.png');
        background-repeat: no-repeat;

      }
      .part3 {
        width:50%;
        height: 50%;
        float: left;
        background: white;
      }
      .part4 {
        width:50%;
        height: 50%;
        float: right;
        background: white;
      }


  body
    div.container-fluid
      div.verticalhorizontal
        if processing
            img(src="/images/spinning.gif" alt="processing img")
            script.
                setInterval(function () { location.replace(window.location.pathname); }, 1000);
        else if success
            img(src="/images/ihranywhere.png" alt="success img")
            script.
                setInterval(function () { location.replace(window.location.pathname); }, 3000);
        else if failure
            img(src="/images/whoops.jpg" alt="failure  img")
            script.
                setInterval(function () { location.replace(window.location.pathname); }, 3000);
